{% extends 'core/base.html' %}

{% block fullscrean %}

{% endblock fullscrean %}

{% block content %}
    <div class="row">
        <div class="col-lg-9">
            <div id="map_canvas" style="border: solid 1px;"></div>
        </div>
        <div class="col-lg-3">
            <div class="well well-sm">
                <h4>Кнопки</h4>
                <button id="clearEvents" class="btn btn-info btn-block">Очистить
                    Events
                </button>
                <button id="addBuffer" class="btn btn-info btn-block">Добавить
                    буфер
                </button>
                <button id="AddObject" class="btn btn-info btn-block">Рисовать
                </button>
                <button id="DragObject" class="btn btn-info btn-block">Двигать
                </button>
                <button id="EditSizeObject" class="btn btn-info btn-block">
                    Размер
                </button>
                <button id="rotationPicture" class="btn btn-info btn-block">
                    Поворот
                </button>
                <button id="deleteObject" class="btn btn-info btn-block">Удалить
                </button>

                <div class="well well-sm">
                    <div class="row">
                        <h4 class="col-xs-5">Слои</h4>
                        <h4>
                            <a data-toggle="modal"
                               data-target="#modalCreateLayer"
                               class="text-right col-xs-7"
                            >
                                Добавить
                                <span class="glyphicon glyphicon-plus"
                                      aria-hidden="true"></span>
                            </a>
                        </h4>
                    </div>
                    <div>
                        {% for layer in object.layers.all %}
                            <div class="row" id="layer_{{ layer.id }}"
                                 data-z_index="{{ layer.z_index }}">
                                <div class="col-xs-1">
                                    <input type="radio" name="chooseLayerEdit"
                                           {% if forloop.last %}checked="checked"{% endif %}
                                    >
                                </div>
                                <div class="col-xs-1">
                                    <input checked="checked"
                                           class="chooseLayerDraw"
                                           type="checkbox">
                                </div>
                                <div class="col-xs-6 layerName">
                                    {{ layer.name }}({{ layer.z_index }})
                                </div>
                                <div class="col-xs-3">
                                    <a>
                                        <span class="glyphicon glyphicon-pencil
                                        editLayerPencil"></span>
                                    </a>
{#                                    <a data-toggle="modal"#}
                                    <a
                                       data-target="#modalDeleteLayer"
                                      >
                                        <span class="glyphicon glyphicon-trash
                                        deleteLayerTrash"></span>
                                    </a>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="well well-sm">
        <h4>Картинки</h4>
        <div>
            {% for picture in request.user.pictures.all %}
                <div class="responsive_img">
                    <img class="UserPictures" id="picture_{{ picture.id }}"
                         src="{{ picture.image.url }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="well well-sm">
        <h4>Спрайты</h4>
        <div>
            {% for sprite in request.user.sprites.all %}
                <div class="responsive_img">
                    <img data-numberOfFrames="{{ sprite.count_images }}"
                         data-height="{{ sprite.height }}"
                         data-startHeight="{{ sprite.start_height }}"
                         data-speed="{{ sprite.speed }}"
                         class="UserSprites img-responsive img-thumbnail"
                         id="picture_{{ sprite.id }}"
                         src="{{ sprite.image.url }}"
                    >
                </div>
            {% endfor %}
        </div>
    </div>






    {#    MODAL WINDOWS CREATE LAYER #}
    <div class="modal fade" id="modalCreateLayer" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{% url 'layer_create' %}" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Добавить слой</h4>
                    </div>
                    <div class="modal-body">

                        <input placeholder="Название" name="name">

                        <input name="map_id" hidden value="{{ object.id }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Отмена
                        </button>
                        <button type="submit" class="btn btn-primary">Добавить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {#    MODAL WINDOWS DELETE LAYER #}
    <div class="modal fade" id="modalDeleteLayer" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{% url 'layer_delete' %}" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Удалить слой</h4>
                    </div>
                    <div class="modal-body">

                        <div>Слой</div>
                        <span class="text-info" id="spanDeleteLayer"></span>
                        <div>будет удален</div>

                        <input name="id" hidden id="inputIdLayerDelete" >

                        <input name="map_id" hidden value="{{ object.id }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Отмена
                        </button>
                        <button type="submit" class="btn btn-danger">Удалить
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            $('.deleteLayerTrash').click(function () {
                $('#spanDeleteLayer').html($(this).parent().parent().parent().children('div.layerName').html());
                var id = $(this).parent().parent().parent().attr('id').split('_').pop();
                $('#inputIdLayerDelete').val(id);
                $('#modalDeleteLayer').modal('show');
            })
        </script>
    </div>

    {#    MODAL WINDOWS EDIT LAYER #}
    <div class="modal fade" id="modalEditLayer" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{% url 'layer_edit' %}" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Редактировать слой</h4>
                    </div>
                    <div class="modal-body">

                        <div>Слой
                            <span class="text-info" id="spanEditLayer"></span>
                            будет изменен
                        </div>

                        <input name="new_name" id="inputNewNameLayer" >
                        <input name="layer_id" hidden id="inputIdLayerEdit" >
                        <input name="map_id" hidden value="{{ object.id }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Отмена
                        </button>
                        <button type="submit" class="btn btn-success">Редактировать
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            $('.editLayerPencil').click(function () {
                var nameLayer = $(this).parent().parent().parent().children('div.layerName').html();
                $('#spanEditLayer').html(nameLayer);
                var id = $(this).parent().parent().parent().attr('id').split('_').pop();
                $('#inputIdLayerEdit').val(id);

{#                console.log(nameLayer)#}
{#                var name = nameLayer.match(/(\w+)(?=(\(\w+)\))/g); // МОЖНО это и убрать#}
{#                console.log(name)#}
{#                $('#inputNewNameLayer').val(name);#}
                $('#modalEditLayer').modal('show');
            })
        </script>
    </div>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}core/map/canvas.js"></script>
    <script src="{{ STATIC_URL }}core/map/layer.js"></script>
    <script src="{{ STATIC_URL }}core/map/picture.js"></script>
    <script src="{{ STATIC_URL }}core/map/sprite2.js"></script>
    <script src="{{ STATIC_URL }}core/map/layer_events.js"></script>

    <script>
        var PENGUIN_MAP_ID = {{ object.id }};
        var canvas = new Canvas($('#map_canvas'), PENGUIN_MAP_ID);
        var layerEvents = new LayerEvents(canvas);
    </script>
{% endblock %}

{% block head %}
    <link href="{{ STATIC_URL }}core/css/responsiv_img.css" rel="stylesheet">
{% endblock %}