{% extends 'core/base.html' %}

{% block content %}
    <a class="btn btn-info" href="{% url 'edit_map' pk=object.id %}">Редактировать</a>
    <div id="map_canvas"></div>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}core/map/canvas.js"></script>
    <script src="{{ STATIC_URL }}core/map/layer.js"></script>
    <script src="{{ STATIC_URL }}core/map/sprite2.js"></script>
    <script src="{{ STATIC_URL }}core/map/picture.js"></script>

    <script>
        window.PENGUIN_MAP_ID = {{ object.id }};
        var canvas = new Canvas($('#map_canvas'), {{ object.id }});
    </script>

{% endblock %}