{% extends 'core/base.html' %}

{% block content %}

    <div>
        <a href="{% url 'create_map' %}" class="btn btn-success">Добавить</a>
    </div>

    <ul class="list-group" style="margin-top: 15px">
        {% for map in object_list %}
            <li class="list-group-item"><a href="{% url 'info_map' map.id %}">{{ map }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}