{% extends 'auth2/base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Подтвердить</button>
    </form>

    {% for field_errors in form.email.errors %}
        {% if field_errors == 'Аккаунт активен' %}
            <a href="{% url 'password_reset' %}">Восстановить пароль</a>
        {% endif %}
    {% endfor %}

    {% if form.account_is_active %}
    {% endif %}

{% endblock %}