<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}Penguin MAP{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.css">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery.cookie/jquery.cookie.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    {% block head %}
    {% endblock head %}
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">PENGUIN MAP 2</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'search_map' %}">Карты</a></li>
                    <li>
                        {% if user.is_authenticated %}
                            <a>{{ user }}</a>
                        {% else %}
                            <a href="{% url 'login' %}">Вход</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <selection>
        {% block fullscrean %}
        {% endblock fullscrean %}
    </selection>

    <section class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div>
                <div style="margin-top: 20px">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </section>

    {% block js %}
    {% endblock js %}

</body>
</html>