 .responsive_img {border: 2px solid #ccc; cursor:pointer}

.responsive_img:hover {border: 2px solid #777; }

.responsive_img img {
    width: auto;
    height: 150px;
}
.responsive_img {
    padding: 0 6px;
    height: 150px;
    width: auto;
    display: inline-block;
}