<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>Login</title>

{#        <link href="{% static 'auth2/css/base.css' %}" type="text/css" rel="stylesheet">#}
{#        <link rel="stylesheet" type="text/css" href="{% static 'auth2/css/base.css' %}">#}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}auth2/css/base.css">

    </head>

    <body>
        <div class="block-content" >
            {% block content %}
            {% endblock content %}
        </div>
    </body>

</html>