<div class="well">
    <h2>Сервис по созданию карт</h2>
</div>

<h5>
    Для входа можно использовать пользователя: test_user с паролем 1
</h5>
<p> (картинки и спрайты нужно добавлять через админку)</p>
<h4>
    Пример карты
</h4>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="PENGIUIN_MAP"></div>
    </div>
</div>

<script src="{{ STATIC_URL }}core/map/canvas.js"></script>
<script src="{{ STATIC_URL }}core/map/layer.js"></script>
<script src="{{ STATIC_URL }}core/map/sprite2.js"></script>
<script src="{{ STATIC_URL }}core/map/picture.js"></script>
<script>
    var canvas = new Canvas($('#PENGIUIN_MAP'), 1);
</script>
